/* contacto */
.datos-contacto {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
}

.main-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-title {
    color: $amarillo;
    margin: 0px 30px 0px 0px;
    padding: 10px;
}
.form-container {
    margin: 20px 0px;
}
.contact-title {
    text-align: center;
}
.form-container--fieldset {
    background: rgb(41, 18, 18);
    color: $amarillo;
    border: 1px solid $amarillo;
    border-radius: 10px;
}
/* contacto fondo*/
.contacto-fondo {
    background-image: url(../img/tokyo_revengers_mikey\ rectd.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 360px;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;   
    /* padding-bottom: 800px;*/
    /* background-attachment: fixed; */     
}
.imagen-tokyo {
    width: 100%;
}