* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global */
a {
    text-decoration: none;
} 
ul {
    list-style: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Merriweather', serif;
}
header {
    background-color: black;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0px;
    z-index: 1;
}
h1 {
    text-align: center;
    color: $amarillo;
    font-size: 50px;
    
}


/* Menu de navegacion */
.navbar {
    width: 100%;
}
.navbar-collapse {
    flex-grow: initial;
}
.nav-link {
    color: #818081;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
.nav-link:hover {
    color: white;
}
.container-fluid {
    max-width: 1200px;    
}


/* Footer */
footer {
    background-color: rgb(158, 3, 3);
    padding: 15px;
    font-weight: bold;
    ul {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0px;
        margin-bottom: 0px;
    }
}
ul li a .bi {
    color: #818081;
    font-size: 2rem;
    font-weight: bold;
    &:hover {
        color: white;
    }
}